@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
.tools {
    padding: 20px;
    position: relative;
    width: auto;
    height: 100vh;
}
.tool-container{
    display: flex;
    padding: 20px;
    padding-top: 3%;
    position: relative;
    width: auto;
    height: auto;
    justify-content: center;
}

  .tool {
    align-items: center;
    width: calc(50% - 20px);
    margin-bottom: 20px;
  }
  
  .tool img {
    filter:invert(90%);
    width: 40%;
    height: auto;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
  }

  .tool img:hover{
    transform: scale(1.1);
    } 
  
  .tool p {
    text-align: center;
    margin-top: 10px;
    font-family: "Space Mono", Arial, serif;
    font-size:27px;


  }

h2.text{
    text-align: center;
    font-size: 70px;
    font-weight: bolder;
    font-family: "Space Mono", Arial, serif;
    color: #F4EEE0;
}
  