@import url("https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
.tools {
  width: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.tool-container {
  display: flex;
  padding-top: 2%;
  width: auto;
  height: auto;
  align-items: center;
  justify-content: center;
}

.tool {
  align-items: center;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}

.image-container {
  background-color: #f4eee0;
  width: 30%;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 50%;
  transition: all 0.4s ease-in-out;

  aspect-ratio: 1/1;
}
.image-container img {
  width: 60%;
  height: auto;
  filter: invert(18%) sepia(25%) saturate(495%) hue-rotate(211deg) brightness(91%) contrast(86%);
}
.image-container:hover{
  transform: scale(1.1);
}
.service-text{
  align-items: center;
  width: auto;
  display: flex;
  flex-direction: column;
}
.service-text p.name-service {
  text-align: center;
  font-family: "Space Mono", Arial, serif;
  font-size: 27px;
}

.service-text p.description-service {
  margin-top: auto ;
  margin-bottom: 50px;
  text-align: center;
  font-family: "Space Mono", Arial, serif;
  font-size: 15px;
  color: #f4eee0e8;
  overflow-wrap: break-word;
  width: 70%;
}
p.text {
  text-align: center;
  font-size: 48px;
  font-weight: bolder;
  font-family: "Space Mono", Arial, serif;
  color: #f4eee0;
}
