@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');


.history {
    position: relative;
    width: auto;
    height: auto;
    margin: 0 auto;
    min-height: 70vh;
    
  }
  
  .history-header {
    text-align: center;
    font-size: 48px;
    font-weight: bolder;
    font-family: "Space Mono", Arial, serif;
    color: #f4eee0;
  }
  
  .timeline {
    position: relative;
    padding: 20px;
    height: auto;

  }
  
  .timeline::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    background: #6c757d;
    z-index: 1;
  }
  
  .history-event {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5%;
    clear: both;
    transition: margin-bottom 0.4s ease-in-out;
  }
  
  .history-icon {
    position: absolute;
    display: flex;
    flex-direction: column;
    background: #6c757d;
    color: #F4EEE0;
    padding: 10px;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }
  
  .history-content {
    max-width: 45%;
    position: absolute;
    top: 0;
  }
  
  .history-event:nth-child(odd) .history-content {
    left: calc(50% + 30px); /* half of icon width (20px) plus desired 10px space */
    text-align: left;
  }
  
  .history-event:nth-child(even) .history-content {
    right: calc(50% + 30px); /* half of icon width (20px) plus desired 10px space */
    text-align: right;
  }
  
  
  
  .history-content .history-title {
    margin: 0;
    color: #F4EEE0;

    font-family: "Space Mono", Arial, serif;
    font-weight: lighter;
  }

  h2 a {
    text-decoration: none;
    color: #ffc846;

  }

 
  
  .history-content .history-description {
    opacity: 0 ; /* changed from opacity: 0; */
    color: #f4eee0e8;
    font-family: "Space Mono", Arial, serif;
    transition: opacity 0.4s ease-in-out;
    margin-top: 20px;
    white-space: pre-line;
    text-align: center;

  }
  
  .history-event:hover .history-description {
    opacity: 1; /* changed from opacity: 1; */
  
  }
  
  .history-event:hover {
    margin-bottom: 100px;
  }
  
  @media (max-width: 801px) {
    .history {
      max-width: 100%;
      padding: 0 20px; /* Add some padding to the sides */
      
    }
    
    .history-header {
      max-width: 100%;
      font-size: 36px; /* Decrease the font size for better fit */
    }
  
    .history-content {
      max-width: 100%; /* Occupy full width */
      position: relative; /* Remove absolute positioning */
      text-align: center; /* Center align content */
      margin-top: 30px; /* Add some top margin */
      z-index: 3; /* Increase the z-index to bring the text on top */
    }

    .history-event {
      margin-bottom: 0%; /* Adjust the percentage to reduce the space on phone screens */
    }
    .history-event:nth-child(odd) .history-content,
    .history-event:nth-child(even) .history-content {
      left: initial;
      right: initial;
      text-align: center; /* Center align content */
    }

    .timeline::before{
      left: 5%;
    }
    .history-icon{
      left:0;

    }
    .history-content{
      margin-top: 0;
      margin-left: 4%;
    }
  }
  